*{
    font-family: 'Chewy', monospace ;
}

h1 {
    /*background-color: #1942ae;*/
    /*width: 100%;*/
    color: white;
    /*align-items: center;*/
    /*justify-content: center;*/
    align-self: center;
}

fieldset {
    width: 300px;
    float: right;
}

header {
    display: flex;
    background-color: #1942ae;
    width: 100%;
    /*text-align: center;*/
}

.map-output {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    width: 100%;
    height: 75vh;
    align-content: center;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    /* background-color: blue; */
    height: 400px;
    width: 400px;
 }


<<<<<<< HEAD
=======
 .body{
    font-family: 'Chewy', monospace ;
 }
>>>>>>> 2285e51dd061ab67010bba12c5135054c82d8b78
