*{
    font-family: 'Chewy', monospace ;
    margin: 0;
}

h1 {
    color: white;
    align-self: center;
    font-size: 55px;

}

fieldset {
    width: 250px;
    float: right;
}

header {
    display: flex;
    background-color: #1c48c1;
    width: 100%;
}

header div {
    display: flex;
    vertical-align: middle;
    padding-left: 10px;
}

#main-h1 {
    margin-left: -80px;
}
.map-output {
    display: flex;
    width: 100%;
    height: 72vh;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

 #map {
     padding: 25%;
     float: right;
     margin-top: 45px;
     height:250px;
     width:200px;
 }

 .map-left {
    width: 42%;
    padding-top: 40px;
    padding-left: 20px;
 }

 .map-right {
    width: 50%;
 }

 .header img {
    display: flex;
    margin: 0 auto;
    width: 75px;
    height: 75px;
 }

 h1{
    display: inline;
    text-align: center;
    width: 70%;
 }

#zip-input {
     width: 50%;
     height: 25px;
     padding: 10px;
     margin: 1px;
 }

#zip-button {
    width: 45px;
    height: 47px;
    margin-left: 10px;
}

#filter {
    border: none;
    background: none;
    text-decoration-line: underline;
    margin-left: 10px;
}

#miles {
    margin-top: 12px;
}

#search-output {
    display: none;
    flex-direction: row;
    height: 475px;
    margin-left:-20px;
    overflow: scroll;
    margin-top: -30px;
}

#search-output ul {
    list-style: none;
}

#search-output li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;

}

#search-output li:nth-child(odd) {
    background-color: #d1d1d1;
    border-radius: 4px;

}

#h2div {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
}

#h2div h2 {
    padding-right: 10px;
}

#clinic-item, #clinic-subitem {
    display: flex;
    flex-direction: row;
}

#clinic-item {
    justify-content: space-between;
    padding-right: 15px;
}

#clinic-subitem p {
    padding-right: 50px;
}

#fieldsets {
    width: 100%;
    display: none;
    position: absolute;
    flex-direction: column;
    left: 20px;
    top: 180px;
    background-color: #fff;
    padding-left:20%;
}

#fieldstyle {
    display: flex;
    flex-direction: column;
}

#submitFilters {
    background-color: #1c48c1;
    color: #fff;
    margin-top: 10px
}

#zip-error {
    display: none;
    padding-top: 15px;
    padding-left: 25px;
    color: red;
}

#zip-bar {
    display: flex;
}

footer {
    display: block;
    height: 65px;
    background-color: #1c48c1;
    color: #fff;
    margin-top: 80px;
}

#foot {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}