header {
    background-color: #1942ae;
    width: 100%;
}

h1 {
    color: #fff;
}

.map_output {
    border: 1px solid #000;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
}